<!DOCTYPE html >
<html> 
  <head> </head>
  <body> 
    <h1>Loops </h1>
    <!-- for each loop for array-->
    <!-- n is value i is index-->
    <p>0 - 10</p>
    <p>1 - 23</p>
    <p>2 - 35</p>
    <p>3 - 46</p>
    <p>4 - 5</p>
    <!-- create names array to loop trough-->
    <!-- for each loop-->
    <p>dom - 0</p>
    <p>sophie - 1</p>
    <p>mark - 2</p>
    <!-- loop grades object i is key, n is value-->
    <p>web Dev - 85</p>
    <p>software Design - 80</p>
    <!-- else statment if the loop is empty-->
    <p> <strong>There is no values to loop through</strong></p>
  </body>
</html>