// mixin are reusable code in pug. they behave like function 
// you can call the mixin in the pug project and you can also pass data as argument
// declare a mixin at the top of the pug file using mixin key word

mixin comment(commentData)
    // div with comment class
    .comment
        // create if statmemt 
        if commentData.postedByAdmin 
            em (Posted by Admin)

        // create 3 div with class for each data
        .date= commentData.date 
        .author= commentData.author 
        .text= commentData.text


doctype html 
html 
    head 
        title Mixins in Pug 
        style. 
            .comment { 
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }

            .date { 
                font-size: 85%;
                text-align: right;
            }
            .author {
                font-size: 110%;
                font-weight: bold;
            }
            .text {
                font-size: 100%;
            }
    body 
        - const cmntData1 = { date: '04-02-2024', author: 'John D.', text: 'hello wies'}
        // call the mixin using the +
        +comment(cmntData1)
        - const cmntData2 = { postedByAdmin: true, date: '05-02-2024', author: 'Jane', text: 'hi everyone'}
        +comment(cmntData2)